body {
	background: linear-gradient(GhostWhite, LavenderBlush);
}
h1 {
	text-align: center;
	color: #FFD1D1;
    font-size: 45px;
    letter-spacing: 2px;
    font-style: Helvetica;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h4 {
    margin-left: auto;
    margin-right: auto;
}
p {
	font-size: 18px;
}
ul.toppings {
	   margin-left: auto;
    margin-right: auto;
}
ul.navbar {
    height: 75px;
    color: #403D39;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.info {
	font-style: Geneva;
	margin: 15px;
    color: #403D39;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-style: Georgia;
    width: 1000px;
}
.header {
    background-color: SlateGray;
    padding: 30px;
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    font-style: Helvetica;
}
.headerphoto {
  display: block;
  width: 725px;
  height: 475px;
  padding: 25px;
  border: 6px double #323A41;
  margin: 50;
  margin-left: auto;
  margin-right: auto;
}
#definition {
	  width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-style: Georgia;
}
h4.2types {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    left: 100px;
}
