body {
	background: linear-gradient(GhostWhite, LavenderBlush);
}
h1 {
	text-align: center;
	color: #FFD1D1;
    font-size: 45px;
    letter-spacing: 2px;
    font-style: Helvetica;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h4 {
    margin-left: auto;
    margin-right: auto;
}
p {
	font-size: 18px;
}
ul {
	margin-left: auto;
    margin-right: auto;
}
.info {
	font-style: Geneva;
	margin: 15px;
    color: #403D39;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-style: Georgia;
    width: 1000px;
    
}
.header {
    background-color: SlateGray;
    padding: 30px;
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    font-style: Helvetica;
}
.headerphoto {
  display: block;
  width: 725px;
  height: 475px;
  padding: 25px;
  border: 6px double #323A41;
  margin: 50;
  margin-left: auto;
  margin-right: auto;
}
#grad {
 background: linear-gradient(LightCoral, GhostWhite);
}
#definition {
	width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-style: Georgia;
}
h4.2types {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    left: 100px;
}
